body{
  font-family: sans-serif;
  background-color: rgb(28, 28, 28);
}

#lsd{
  text-decoration: none;
  color: rgb(214, 214, 214);
}
#lsd:hover{
  color: white;
}

.navbar p{
  color: white;
  float: left;
  margin-left: 20px;
  font-family: 'Nosifer', cursive;
  margin-top: 4px;
  font-size: 22px;
  margin-bottom: 0;
}
.navbar {
  overflow: hidden;
  background-color: rgb(126, 8, 8);
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  box-shadow: 0px 0px 12px;
}

.navbar a:not(#lsd){
  font-family: 'helvetica', sans-serif;
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-left: 2px solid #1c1c1c;
  height: 45;
  font-weight: bolder;
}

.navbar a:hover:not(#lsd), .navbar2 a:hover {
  background: rgb(170, 65, 65);
  color: white;
}


/*Actual Body Idhar Hain*/



.main {
  font-family: 'Roboto', sans-serif;
  padding: 16px;
  margin-top: 30px;
  height: 1500px;
  color: rgb(196, 196, 196);
  width: auto;

}

.baba{
  margin-top: 300px;
  align-self: center;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.main h2{
  margin-top: auto;
  font-family: 'Oswald', sans-serif;
  font-size: 33px;
  text-align: center;
  color: rgb(217, 217, 217);
}
.main h3{
  text-align: right;
  font-size: 22px;


/*Actual Body Idhar Hain*/



}
.navbar2 {
  overflow: hidden;
  background-color: rgb(126, 8, 8);
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;

  box-shadow: 0px 0px 22px;
}

.navbar2 a {
  font-family: 'helvetica', sans-serif;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

  border-right: 2px solid #1c1c1c;
  height: 45;
  font-weight: bold;
}
